containers:
  - name: rabbitmq
    image: bitnami/rabbitmq:latest
    ports:
      - containerPort: 5672   
      - containerPort: 15672  
    env:
      - name: RABBITMQ_DEFAULT_USER
        valueFrom:
          secretKeyRef:
            name: foodgram-secrets
            key: RABBITMQ_USERNAME
      - name: RABBITMQ_DEFAULT_PASS
        valueFrom:
          secretKeyRef:
            name: foodgram-secrets
            key: RABBITMQ_PASSWORD
