server:
  listener:
    tcp:
      address: 0.0.0.0:8200
      tls_disable: true

  ui:
    enabled: true

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations: {}
    hosts:
      - host: vault.local
        paths:
          - /
