# Django settings
SECRET_KEY=django-insecure-=c2sykohit_sw9n87tt7d7!=u63glrluf5negbt%xr1@)r9qn-
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings (SQLite for local development)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

# PostgreSQL settings (for production/Docker)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=foodgram
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=1
# DB_HOST=database
# DB_PORT=5432 